<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<%= render 'searches/search' %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.user.name %></td>
        <td><%= post.tag_list %></td>
        <td><%= post.likes_count %>いいね！</td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<table>  <!-- タグランキングのテーブル -->
      <% sum = 0%>
    <% @tag_ranking.first(10).each do |rank| %>
      <td><p>第<%= sum += 1 %>位</p></td>
      <td><%= rank.name %></td>
      <% end %>
</table>


<br>

<%= link_to 'New Post', new_post_path %>
